body {
    margin: 0;
}
.field {
    display: flex;
    align-items: center;
}
.flex-container{
    display: flex;
}
.textbox, .results{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.textbox, .button-search{
    display: block;
    height: 55px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
}
.textbox {
    flex-grow: 1;
    font-size: 27px;
    background-color: white;
    padding: 14px 20px;
}
.textbox:focus, .textbox:hover{
    border: 1px solid rgb(192, 192, 192);
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.75);
}
.button-search{
    width: 55px;
    background:  15px 50% no-repeat url('../images/loupe.svg');
    background-size: auto 50%;
}
.button-search:focus, .button-search:hover{
    border: 2px solid rgb(182, 182, 182);
    box-shadow: 0 0 6px rgba(192, 192, 192, 0.75);
}