body {
    margin: 0;
}
.field {
    display: flex;
    align-items: center;
}
.title {
    font-family: 'Poiret One', cursive;
    font-size: 90px;
    color: rgb(49, 49, 49);
}
.textbox, .results{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.textbox {
    width: 585px;
    max-width: 85vw;
    height: 55px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 27px;
    background-color: white;
    background:  15px 50% no-repeat url('../images/loupe.svg');
    background-size: auto 50%;
    padding: 14px 20px 14px 53px;
    outline: none;
}
.textbox:focus, .textbox:hover{
    border: 1.5px solid rgb(192, 192, 192);
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(179, 179, 179, 0.75);
}