.field{
    background-color: white;
    border-bottom: 1px solid rgba(179, 179, 179, 0.75);
}
.result{
    width: auto;
}
.result a{
    text-decoration: none;
}
.article{
    margin-bottom: 4px;
}
.article a{
    color: rgb(49, 49, 49);
    font-size: 39px;
}
.url{
    margin-bottom: 2px;
}
.url a{
    color: rgba(179, 179, 179, 0.75);
    font-size: 18px;
}
.date {
    color: rgba(179, 179, 179, 0.75);
    font-size: 15px;
}
@media only screen and (min-width: 701px){
    .field {
        padding: 20px 40px;
        position: sticky;
        top: 0;
    }
    .logo{
        margin-right: 30px;
        height: auto;
        width: 180px;
    }
    .flex-container{
        width: 620px;
        max-width: calc(100vw - 280px);
    }
    .textbox{
        margin-right: 20px;
        max-width: calc(100vw - 355px);
    }
    .result{
        margin: 20px 40px;
    }
    .result:hover a{
        border-bottom: 1px solid rgba(179, 179, 179, 0.75);
    }
}
@media only screen and (max-width: 700px){
    .field{
        flex-direction: column;
    }
    .logo{
        height: auto;
        width: 100px;
        margin-top: 10px;
    }
    .form{
        width: 100%;
    }
    .flex-container{
        width: 92%;
        margin: 10px 4%;
    }
    .textbox{
        margin-right: 4vw;
        flex-shrink: 1;
        max-width: calc(88vw - 55px);
    }
    .result{
        margin: 10px 2%;
        padding: 10px 2%;
    }
    .result:hover{
        border-radius: 30px;
        box-shadow: 0 0 4px rgba(179, 179, 179, 0.75);
    }

}